<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Web Scraping</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Web Scraping</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="table-view">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="charts-view">Charts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="table" th:include="Table :: Table" ></div>
<div id="charts" th:include="Jobs :: Jobs" style="display: none"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const chartsView = document.getElementById("charts-view");
    const tableView = document.getElementById("table-view");
    const table1 = document.getElementById("table");
    const charts1 = document.getElementById("charts");

    tableView.addEventListener("click", (e) => {
        e.preventDefault();
        console.log("Table clicked");
        table1.style.display = "block";
        charts1.style.display = "none";
    });
    chartsView.addEventListener("click", (e) => {
        e.preventDefault();
        console.log("Charts clicked");
        table1.style.display = "none";
        charts1.style.display = "block";
    });});
</script>
</body>
</html>
